.title {
  font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; font-weight: bold;
}

.no-underline {
  text-decoration: none;
}

.caption {
    font-size: 0.5em;
    line-height: .9;
    text-align: right;
    margin-top: -5px;
    padding-right: 20px;
}