<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ .Site.Params.simpleurl }} — {{ .Title }}</title>
  <meta property="og:title" content="{{ .Site.Title }}" />
  <meta property="og:type" content="text/html" />
  <meta property="og:url" content="{{ .Site.BaseURL }}" />
  <meta property="og:image" content="http://reformeddeacon.com/img/secondpres.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="Description" content="Guide to the theology and practice of diaconal mercy ministry in a reformed and presbyterian context.">
  <meta name="Keywords" content="deacons, presbyterian deacon training, reformed deacon, presbyterian leadership, mercy ministry, reading list">


  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Vollkorn:400,300,600" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/_css/bootstrap.css">
  <link rel="stylesheet" href="/css/custom.css">

  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>


  <!-- Trackers
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-69151641-1', 'auto');
    ga('send', 'pageview');
  </script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->

</head>

<body>
  <nav class="navbar fixed-top navbar-primary bg-faded justify-content-end">
    <ul class="navbar-nav">
      <li class="float-sm-right navbar-brand ml-auto "><a class="navbar-brand" href="/">Home</a></li>
    </ul>
  </nav>

  <div class="container-fluid bg">
    <div class="jumbotron">
      <div class="banner mt-4 pt-4">
        <h1>{{ .Site.Title }}</h1>
        <p class='lead'>A bibliography</p>
      </div>
    </div>
  </div>
  </div>

  {{ block "main" . }}
    <!-- The part of the page that begins to differ between templates -->
  {{ end }}

  <div class="container-fluid bg-faded pt-4">
    <div class="row">
      <div class="col-sm-10 offset-sm-1 text-center">
      {{ partial "social.html" . }}
        
        <div class="col-sm-6 offset-sm-3">
          <p>
              Feedback, questions, or recommended resources?
          </p>
          <form name="feedback" method="POST" data-netlify="true">
            <div class="form-group"><input type="text" name="name" placeholder="Name" class="form-control form-control-sm" /></div>
            <div class="form-group"><input type="email" name="email" placeholder="Email Address" class="form-control form-control-sm" /></div>
            <input type="hidden" name="page" value="{{ .Permalink }}">
            <div class="form-group"><textarea name="message" class="form-control" rows="3" placeholder="Feedback"></textarea></div>
            <button type="submit" class="btn btn-primary">Send</button>
          </form>
        </div>


        <p class="remove-bottom">
            Copyright &copy;
            <script language="javascript" type="text/javascript">document.write((new Date()).getFullYear())</script>
            &middot;
            <a href="https://readmachen.com">
                <small>readmachen.com</small></a>
            &middot;
            <a href="https://reformedconfessions.com">
                <small>reformedconfessions.com</small></a>
            &middot;
            <a href="https://ulsterworldly.com">
                <small>ulsterworldly.com</small></a>
        </p>
        <p class="remove-bottom">
        Header photo of <a href="https://en.wikipedia.org/wiki/Second_Presbyterian_Church_(Charleston,_South_Carolina)#/media/File:Second_Pres_1892.PNG"target="_blank">Second Presbyterian Church in Charleston, South Carolina</a>.
        </p>
      </div>
    </div>
  </div>
</body>

  <script src="/js/jquery.masonry.min.js"></script>
  <script src="/js/modernizr.min.js"></script>
  <script src="/js/custom.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

</html>
