{{ define "main" }}
  <div class="row mt-4">
    <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h3>{{ .Title }}</h3>

      {{ partial "item.html" . }}

        {{ with .Content }}<hr />{{ end }}
        {{ .Content }}

        {{ with .Params.sources }}
          {{ range $key, $value := . }}
            {{ if eq $key "pdf archive" }}

            <div class="pdfbox">
            <embed class="pdfembed" src="{{ $value }}" width="100%" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
            </div>
            {{ end }}
          {{ end }}
        {{ end }}
    </div>
  </div>
{{ end }}
