        <hr />
        <p class="remove-bottom">A resource for the church by <a href="http://www.twitter.com/tdhopper">Tim Hopper</a>.
        <a href="http://goo.gl/forms/Xemi1NRoOC">Feedback, questions, or recommended resources?</a></p>

        <p>Also visit <a href="http://joseph-hopper.com/">joseph-hopper.com</a>, <a href="http://reformedconfessions.com/">reformedconfessions.com</a>, and <a href="http://twitter.com/john__newton">@john__newton</a>.</p>
      </div>
    </div>
  </div>
</body>
</html>
