<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ .Site.Params.simpleurl }} — {{ .Title }}</title>
  <meta property="og:title" content="{{ .Site.Title }}" />
  <meta property="og:type" content="text/html" />
  <meta property="og:url" content="{{ .Site.BaseURL }}" />
  <meta property="og:image" content="http://reformeddeacon.com/img/secondpres.png" />


  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/custom.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body>
  <a href="{{ .Site.BaseURL }}">
    <img src="/img/secondpres-large.jpg" style="width: 100%;">
    </a>
  <div class="caption">Second Presbyterian Church in Charleston, South Carolina</div>
  <div class="container">
    <div class="row">
      <div class="eight columns offset-by-two">

        <h2><a href="{{ .Site.BaseURL }}" class="no-underline">{{ .Site.Title }}</a></h2>