<div class="container-fluid bg-success pb-4">
    <div class="container">
    <div class="row" id="card-container" data-masonry='{"percentPosition": true }'>
        {{ range .Data.Pages.ByTitle }}
        <div class="grid-item col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 {{ with .Params.tags }}{{ range $i, $e := . }}{{ $e | urlize}} {{ end }}{{ end }}">
            <div class="rounded card bg-light m-2">
                {{ $permalink := .RelPermalink }}
                <div class="card-header bg-info pb-1"></div>
                <div class="card-body pb-1">
                    <h5 class="card-title mb-1"><a href="{{ .RelPermalink }}" class="no-underline">
                        <span class="d-md-none">
                            {{ partial "icon.html" . }}
                        </span>
                        {{ .Title }}
                    </a></h5>
                    <div class="card-text">
                        {{ with .Params.authors }}
                            {{ $len := len . }}
                            Author{{ if gt $len 1 }}s{{ end }}: {{ range $i, $e := . }}{{ if $i }}, {{ end }}
                            <a href="/authors/{{ $e | urlize }}/">{{ $e }}</a>{{ end }}
                        {{ end }}
                    </div>
                </div>
                <div class="card-footer bg-white p-0">
                        {{ $itemScope := . }}
                        {{ with .Params.sources }}
                          <ul class="list-group list-group-flush">
                            {{ range $key, $value := . }}
                                <li class="list-group-item py-1"><a href="{{ $value }}" target="_blank">
                                    {{ partial "icon.html" $itemScope }}
                                {{ $key }}</a></li>
                            {{ end }}
                          </ul>
                        {{ end }}
                </div>
                {{ with .Params.image }}
                    <a href="{{ $permalink }}" class="d-none d-md-block">
                        <img class="card-img-bottom" src='{{ . }}'>
                    </a>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
    </div>
</div>
