<div class="container-fluid  bg-success pb-4"><div class="container">
    <div class="grid pt-4" id="card-container">
        <div class="grid-sizer col-lg-3 col-md-4 col-sm-6 col-xs-12"></div>
        {{ range .Data.Pages.ByTitle }}
        <div class="grid-item col-lg-3 col-md-4 col-sm-6 col-xs-12 {{ with .Params.tags }}{{ range $i, $e := . }}{{ $e | urlize}} {{ end }}{{ end }}">
            <div class="rounded card bg-faded m-2">
                {{ $permalink := .Permalink }}
                {{ with .Params.image }}
                    <a href="{{ $permalink }}" class="hidden-sm-down">
                        <img class="card-img-top" src='{{ . }}' width="100%">
                    </a>
                {{ end }}
                <div class="card-block pb-1">
                    <h5 class="card-title mb-1"><a href="{{ .Permalink }}" class="no-underline">
                        <span class="hidden-md-up">
                            {{ partial "icon.html" . }}
                        </span>
                        {{ .Title }}
                    </a></h5>
                    <div class="card-text">
                        {{ with .Params.authors }}
                            {{ $len := len . }}
                            Author{{ if gt $len 1 }}s{{ end }}: {{ range $i, $e := . }}{{ if $i }}, {{ end }}
                            <a href="/authors/{{ $e | urlize }}/">{{ $e }}</a>{{ end }}
                        {{ end }}
                    </div>
                    <div class="card-link hiddem-md-up">
                        <button type="button" class="btn btn-sm expand">Expand</button>
                    </div>
                </div>
                <div class="container-fluid mx-0 hidden-sm-down">
                <div class="row">
                    <div class="col-sm-9">
                        {{ with .Params.sources }}
                          <ul class="list-group list-group-flush">
                            {{ range $key, $value := . }}
                                <li class="list-group-item"><a href="{{ $value }}" target="_blank">
                                <i class="fa fa-external-link" aria-hidden="true"></i>
                                {{ $key }}</a></li>
                            {{ end }}
                          </ul>
                        {{ end }}
                    </div>
                    <div class="col-sm-3 icon-corner bg-info text-center text-white d-flex justify-content-center align-self-stretch">
                        <div class="align-self-center">
                            {{ partial "icon.html" . }}
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div></div>