<ul>
  {{ with .Params.sources }}
    <li>
      {{ range $key, $value := . }}<a href="{{ $value }}">[{{ $key }}]</a> {{ end }}
    </li>
  {{ end }}
  {{ with .Params.authors }}
    <li>
      {{ range $i, $e := . }}{{ if $i }}, {{ end }}<a href="/authors/{{ $e | urlize }}/" class="no-underline">{{ $e }}</a>{{ end }}
    </li>
  {{ end }}
  <li class='url'>
    {{ .Description }}
  </li>
</ul>

{{ with .Params.sources }}
  {{ range $key, $value := . }}
    {{ if eq $key "pdf archive" }}
    <embed src="{{ $value }}" width="600" height="500" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
    {{ end }}
  {{ end }}
{{ end }}
