<ul>
{{ range .Data.Pages.ByTitle }}
  <li class='item'>
    <span class="title">{{ .Title }}</span>
    <ul>
      {{ if isset .Params "authors" }}
        <li>
          {{ range $i, $e := .Params.authors }}{{ if $i }}, {{ end }}<a href="/authors/{{ $e | urlize }}/">{{ $e }}</a>{{ end }}
        </li>
      {{ end }}
      <li class='url'>
        {{ if isset .Params "source_url" }}<a href="{{ .Params.source_url }}">{{ .Description }}</a>
        {{ else }}{{ .Description }}{{ end }}
      </li>
    </ul>
  </li>
{{ end }}
</ul>