{{ partial "head.html" . }}
<body>
  <div class="container">
    <div class="row">
      <div class="twelve column">
      <h2>{{ .Title }}</h2>

        <ul>
        {{ range .Data.Pages.ByTitle }}
          <li class='item'>
            <span class="title">{{ .Title }}</span>
            <ul>
              {{ if isset .Params "authors" }}
                <li>{{ delimit .Params.authors ", " ", and " }}
                </li>
              {{ end }}
              <li class='url'>
                {{ if isset .Params "source_url" }}<a href="{{ .Params.source_url }}">{{ .Description }}</a>
                {{ else }}{{ .Description }}{{ end }}
              </li>
            </ul>
          </li>
        {{ end }}
        </ul>
        <hr />
        <p class="remove-bottom">A resource for the church by <a href="http://www.twitter.com/tdhopper">Tim Hopper</a>.
        <a href="http://goo.gl/forms/Xemi1NRoOC">Feedback, questions, or recommended resources?</a></p>
      </div>
    </div>
  </div>
</body>
</html>
