{{ define "main" }}

    <div class="row intro">
    <div class="col-sm-12 col-lg-6 offset-lg-3 pt-4 intro">
    {{ partial "intro.html" . }}
    </div>
    </div>

    <div class="row">
    <hr>
    <div class="col-md-1">
        Filter:
    </div>
    <div class="col-md-11">
        <ul id="filter-works" class="list-inline">
            <li class="list-inline-item"><a href="#" data-filter="*" class="active">All</a></li>
            {{ range $key, $value := .Site.Taxonomies.tags }}
                <li class="list-inline-item"><a href="#" data-filter=".{{ $key | urlize }}">{{ $key | humanize | title }}</a> </li>
            {{ end }}
        </ul>
    </div></div>


    {{ partial "item-list.html" . }}

    <div class="row">{{ partial "social.html" . }}</div>

{{ end }}