// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// Readable 3.2.0
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.


$gray:                   #95a5a6; // #555
$gray-darker:            lighten(#000, 13.5%); // #222
$gray-dark:              #7b8a8b;   // #333
$gray-light:             #b4bcc2;   // #999
$gray-lighter:           #ecf0f1; // #eee

$brand-primary:         rgb(96, 92, 63  );
$brand-success:         #18BC9C;
$brand-info:            #3498DB;
$brand-warning:         #F39C12;
$brand-danger:          #E74C3C;

$body-bg:       $white;
$body-color:    $black;
$inverse-bg:    $gray-dark;
$inverse-color: $gray-lighter;

$font-family-serif:       "Vollkorn";
$font-family-sans-serif:       "Montserrat";
$font-family-base:        $font-family-serif;
$headings-font-family:    $font-family-sans-serif;

$link-color:            $brand-primary;
$link-decoration:       none;
$link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: underline;


.list-inline-item:not(:last-child) {
  margin-right: 0;
}
.list-inline::after {
  content: "";
  display: table;
  clear: both;
}
.list-inline-item {
  float: left;
}
.list-inline-item + .list-inline-item::before {
  padding-right: .5rem;
  padding-left: .5rem;
  content: "|";
}


.title {
  font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; font-weight: bold;
}

.bg {
  background: url('/img/secondpres-large.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
  background-size: cover;
  background-color: #C4C4C4;
  position: fixed;
  width: 100%;
  height: 700px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  height: 700px;
  text-shadow: $gray-light 0 2px 2px;
  background:transparent !important;
  .lead {
    color: $brand-primary;
  }
}

.banner {
  width: 50%;
}

.intro {
  font-size: $font-size-lg;
  text-align: justify;
}


.no-underline {
  text-decoration: none;
}

blockquote {
  font-size: $font-size-lg;
  font-style: italic;
  margin: 0em;
  padding: 1.5em;
  border-left: 4px solid rgba(176, 196, 222, 0.5);
  border-radius: 5px;
  text-align: justify;
  background-color: rgba(176, 196, 222, 0.1);
}


.caption {
  font-size: 0.5em;
  line-height: .9;
  text-align: right;
  padding-right: 20px;
  padding-top: 5px;
}

.pdfbox {
  padding-top: 50px;
}

.pdfembed {
  @include media-breakpoint-down(sm) {
    height: 400px;
  }
  @include media-breakpoint-only(md) {
    height: 600px;
  }
  @include media-breakpoint-up(lg) {
    height: 800px;
  }
}

.grid-item,
.grid-sizer {
  @include media-breakpoint-down(sm) {
    background-color: red;
    width: 100%;
  }
  @include media-breakpoint-only(md) {
    background-color: green;
    width: 50%;
  }
  @include media-breakpoint-up(lg) {
    background-color: blue;
    width: 33%;
  }
}

#card-container {
  width: 100%;
}

.grid-item {
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

#card-container .card {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity:1;
    filter:alpha(opacity=100);
    overflow:hidden;
}

#card-container .card.filtered{
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform:scale(0);
    opacity:0;
    filter:alpha(opacity=0);
}