// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// Readable 3.2.0
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray:                   #95a5a6; // #555
$gray-darker:            lighten(#000, 13.5%); // #222
$gray-dark:              #7b8a8b;   // #333
$gray-light:             #b4bcc2;   // #999
$gray-lighter:           #ecf0f1; // #eee

$brand-primary:         rgb(96, 92, 63  );
$brand-success:         #18BC9C;
$brand-info:            #3498DB;
$brand-warning:         #F39C12;
$brand-danger:          #E74C3C;

$body-bg:       $white;
$body-color:    $black;
$inverse-bg:    $gray-dark;
$inverse-color: $gray-lighter;

$font-family-sans-serif:  "Hind";
$font-family-base:        $font-family-sans-serif;
$headings-font-family:    "Montserrat";

$link-color:            $brand-primary;
$link-decoration:       none;
$link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: underline;

.grid-item,
.grid-sizer {
  @include media-breakpoint-down(sm) {
    background-color: red;
    width: 100%;
  }
  @include media-breakpoint-only(md) {
    background-color: green;
    width: 50%;
  }
  @include media-breakpoint-up(lg) {
    background-color: blue;
    width: 33%;
  }
  @include media-breakpoint-up(xl) {
    background-color: blue;
    width: 25%;
  }
}

#card-container {
  width: 100%;
}

.grid-item {
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

#card-container .card {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity:1;
    filter:alpha(opacity=100);
    overflow:hidden;
}

#card-container .card.filtered{
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform:scale(0);
    opacity:0;
    filter:alpha(opacity=0);
}