// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// Readable 3.2.0
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.


$gray:                   #95a5a6; // #555
$gray-darker:            lighten(#000, 13.5%); // #222
$gray-dark:              #7b8a8b;   // #333
$gray-light:             #b4bcc2;   // #999
$gray-lighter:           #ecf0f1; // #eee

$brand-primary:         #311206;
$brand-success:         #A84B11;
$brand-info:            #4B686E;
$brand-warning:         #00EEBB;
$brand-danger:          #FCC27B;

$body-bg:       $white;
$body-color:    $black;
$inverse-bg:    $gray-dark;
$inverse-color: $gray-lighter;

$font-family-serif:       "Vollkorn";
$font-family-sans-serif:       "Montserrat";
$font-family-base:        $font-family-serif;
$headings-font-family:    $font-family-sans-serif;

$link-color:            $brand-primary;
$link-decoration:       none;
$link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: underline;

$navbar-padding-y: 0px;

.navbar {
  border-bottom: 1px solid rgba($black,.125);
}

#filter-works {
  font-family: $font-family-sans-serif;

  $a-tags: 'a, a:active, a:hover, a:visited';
  $a-tags-hover: 'a:active, a:hover';

  #{$a-tags} {
    color: $brand-danger;
    text-decoration: none;
  }
  #{$a-tags-hover} {
    text-decoration: underline;
  }
}

.title {
  font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; font-weight: bold;
}

.bg {
  background: url('/img/secondpres-large.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
  background-size: cover;
  background-color: #C4C4C4;
  position: fixed;
  width: 100%;
  height: 700px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  height: 700px;
  text-shadow: $gray-light 0 2px 2px;
  background:transparent !important;
  .lead {
    color: $brand-primary;
  }
}

.banner {
  width: 50%;
}

.intro {
  font-size: $font-size-lg;
  text-align: justify;
}

$link-color: $brand-info;

.no-underline {
  text-decoration: none;
}

blockquote {
  font-size: $font-size-lg;
  font-style: normal;
  margin: 0em;
  padding: 1.5em;
  border-left: 4px solid $brand-primary;
  border-radius: 5px;
  text-align: justify;
  background-color: darken($body-bg, 3%);
  p:last-child {
    margin-bottom: 0;
  }
}


.caption {
  font-size: 0.5em;
  line-height: .9;
  text-align: right;
  padding-right: 20px;
  padding-top: 5px;
}

.pdfembed {
  @include media-breakpoint-down(sm) {
    height: 400px;
  }
  @include media-breakpoint-only(md) {
    height: 600px;
  }
  @include media-breakpoint-up(lg) {
    height: 800px;
  }
}

.active {
  font-weight: bold;
}

.card-border {
  border: 1px solid $card-border-color !important;
}

#card-container {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

$card-border-width: 0px;

.icon-corner {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: $card-border-radius;
    border-bottom-left-radius: 0;
}

.card .list-group-item {
  font-family: $font-family-sans-serif;
}

#card-container .grid-item {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity:1;
    filter:alpha(opacity=100);
    overflow:hidden;
}

#card-container .grid-item.filtered{
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform:scale(0);
    opacity:0;
    filter:alpha(opacity=0);
}
